---
---

@import"{{ site.theme }}";

.page-header{
  color: #ffff;
  background-color: #0050FF;
  background-image: linear-gradient(120deg, #0050FF, #0050ff);
  
  @include large {
    padding: 2rem 1rem;
  }

  @include medium {
    padding: 2rem 1rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
   color: #000000;
 }
}

.main-content {
  div.divFooter {
    position: fixed;
    bottom: 0;
  }
}
  

