---
---

@import"{{ site.theme }}";

.page-header{
  color: #ffff;
  background-color: #007CFF;
  background-image: linear-gradient(120deg, #0077FF, #0077ff);
  }

.main-content {
  h1, h2 {
   color: #000000;
 }
}
